.container {
    display: flex;
}
.inputContainer {
    position: relative;
}
.input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    width: 35px;
    text-align: center;
}
.arrowTop{
    height: 5px;
    width: 0;
    border: 20px solid transparent; 
    border-bottom: 10px solid white;
    position: absolute;
    top: -35px;
    z-index: 10;
    animation: blinkTop 1s infinite alternate;
}
.arrowBottom {
    height: 5px;
    width: 0;
    border: 20px solid transparent; 
    border-top: 10px solid white;
    position: absolute;
    bottom: -35px;
    z-index: 10;
    animation: blinkBottom 1s infinite alternate;
    z-index: 15;
    
}
@keyframes blinkBottom {
    from {
        border-top: 10px solid white;
    }
    to {
        border-top: 10px solid #FFCF56;
    }
}
@keyframes blinkTop {
    from {
        border-bottom: 10px solid white;
    }
    to {
        border-bottom: 10px solid #FFCF56;
    }
}