.container {
    display: flex;
    background-color: #C179B9;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-between;
    min-height: 45px;
    border-radius: 10px;
}
.expired {
    background-color: #EF798A;
}
.textarea {
    width: 60%;
    font-size: 20px;
}
.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.textareaText {
    font-size: inherit;
    border: none;
    outline: none;
    font-family: inherit;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
    width: 100%;
    background-color: inherit;
    height: 20px;
    
}
.textareaText :active {
    color: white;
}
.dateInputContainer {
    display: flex;
}
.icon {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: inherit;
}
.dateTimeInputReady {
    animation: 2s blink infinite alternate;
}
@keyframes blink {
    from {
        color:white
    }
    to {
        color: red;
    }
}
@media (max-width:800px) {
    .textarea {
        font-size: 15px;
    }
    .icon {
        font-size: 15px;
    }
    .container {
      align-items: center;
    }
}