.container {
    width: 80%;
    margin-top: 50px;
    height: 60vh;
    margin: 10px auto;
    display: flex;
    flex-direction: column;

}
.showMoreButton {
    margin: 10px auto;
    padding: 0 20px;
    border: none;
    background-color: #037171;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.minutesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #5c6784;
    border-radius: 15px;
}
.minute {
    position: relative;
    flex-grow: 1;
}
.busyMinute {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.3;
}
.selectedMinute {
    width: 100%;
    height: 100%;
    background-color: #FFCF56;
    opacity: 0.5;
}
.activeMinute {
    animation: blink 1s infinite alternate;
}
/* .eventBorderSignTop {
    font-size: 40px;
    position: absolute;
    right: 0;
    transform: translateY(-80%) translateX(100%);
}
.eventBorderSignBottom {
    font-size: 40px;
    position: absolute;
    right: 0;
    transform: translateX(100%);
} */
.eventBorderSign {
    font-size: 20px;
    position: absolute;
    right: 0;
    transform: translateY(-50%) translateX(100%);
    font-weight: 700;
}


.eventName {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
}
.hourStart {
    background-color: #fff;
}
.time {
    position: absolute;
    padding-right: 5px;
    transform: translateY(-50%) translateX(-100%);
    font-size: 10px;
    font-weight: 700;
}
.day {
    position: absolute;
    font-size: 40px;
    padding-left: 10px;
}
.deadline {
    padding-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-95%);
    position: absolute;
    color: #fff;
    padding-left: 10px;
    font-size: 20px;
    width: 100%;
    border-bottom: 3px solid #FFCF56

}
.pickedDeadline {
    animation: blinkBorder 1s infinite alternate;
}
.pickedFrom {
    position: absolute;
    transform: translateY(-50%);
}
@keyframes blinkBorder {
    from {
        border-bottom: 3px solid white;
    }
    to {
        border-bottom: 3px solid #FFCF56;
    }
}
@keyframes blink {
    from {
        color: white;
    }
    to {
        color: #FFCF56;
    }
}
@media (max-width: 800px) {
    .container {
        height: 70vh;
    }
}