.todosContainer {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    justify-content: center;
    width: 95%;
}

.todos {
    position: relative;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 15px;
    width: 50%;
}

.heading {
    text-align: center;
    font-size: 30px;
}
.arrow {
    position: absolute;
    right: -20px;
    cursor: pointer;
}
.shown {
    display: flex;
}
@media (max-width:800px) {
    .todosContainer {
        flex-direction: column;
    }
    .heading {
        font-size: 20px;
    }
    .todos {
      width: 100%;
    }
    .arrow {
        right: -12px
    }
}