.container {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;

}

.dateAndTime {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}
.timePicker {
    width: 50px;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    font-size: 40px;

}
