.user {
    font-family: inherit;
    z-index: 4;
    font-family: inherit;
    z-index: 4;
    transition: 1s;
    font-size: 40px;
    margin-top: 50px ;
}
.user__loading {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
    background-color: black;
    color: white;
    z-index: 20;
    animation: 1s stretch infinite;
}
.user__error {
    color:red;
    font-size: inherit;
    text-align: center;
}

.user__box {
    font-size: inherit;
    display: flex;
    flex-direction: column;
}
.user__input {
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 8px 20px;
    border: none;
    font-size: inherit;
    transition: 0.5s;
    font-family:  inherit;
    border-radius: 10px;
    z-index: 5;
    margin: 5px;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@keyframes blink {
    from {
        color:white
    }
    to {
        color: red;
    }
}
@keyframes stretch {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1,1.3);
    }
    40% {
        transform: scale(1.3,1);
    }
    60% {
        transform: scale(1,1.1);
    }
    80% {
        transform: scale(1.1,1);
    }
    100% {
        transform: scale(1);
    }
}