.container {
    width: 70%;
    padding: 10px;
}
.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.day {
    background-color: azure;
    margin: 10px;
    height: 50px;
}
.weekdayName {
    text-align: center;
}
        