.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.days {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.day {
    background-color: #5c6784;
    margin: 5px;
    height: 50px;
    transition: 1s;
    box-sizing:border-box;
    border-radius: 5px;
    font-size: 15px;
}
.day:hover {
    transform: scale(200%);
}
.today {
    border: 5px solid #FFCF56;
}
.picked {
    animation: 2s blink infinite alternate;
}
.weekdayName {
    text-align: center;
}
.month {
    position: absolute;
    font-size: 30px;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateX(40px);
}
.mark {
    color:red;
}
.showMoreButton {
    margin: 10px auto;
    padding: 0 20px;
    border: none;
    background-color: #037171;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
@keyframes blink {
    from {
        border: 5px solid white
    }
    to {
        border: 5px solid red;
    }
}