.container {
    width: 30vh;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;   
}

@media (max-width:800px) {
    .user {
        border-radius: 10px;
        margin-right: 5px;
    }
}