.input {
    display: flex;
    width: 70%;
    position: relative;
    align-items: flex-start;
    font-family:  inherit;
    font-size: 50px;
    background-color: rgb(151, 96, 203);
}
.input__box {
    width: 100%;
    padding: 8px 20px;
    border: none;
    font-size: inherit;
    /* transition: 0.5s; */
    resize: none;
    overflow: hidden;
    font-family:  inherit;
    border-radius: 0;
    z-index: 2;
}


.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}
.input__date__container {
    display: flex;
    width: 70%;
    justify-content: left;
    font-size: 20px;
}
.input__date_text {
    padding: 8px 20px;
    z-index: 35;
    border:none;
    background-color: white;
    font-size: inherit;
    font-family: inherit;
}
.input__date {
    padding: 8px 20px;
    z-index: 30;
    border:none;
    font-size: inherit;
    font-family: inherit;
}
.input__date:focus {
    outline: none;
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
}
.input__submit {
    font-family: inherit;
    font-size: inherit;
    padding: 8px 20px;
    border: none;
    color: white;
    background-color: inherit;
    z-index: 2;
    /* background-color: rgb(85, 85, 85); */
    background-color: red !important;
    transition: 0.5s;
    height: 100%;
}

.input__submit:hover {
    background-color: rgb(190, 6, 6);
}
.input__submit:active {
    transform: scale(0.8);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    justify-content: center;
    width: 70%;
}

.todos {
    position: relative;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 500px;
    width: 50%;
    padding: 10px;
    background-color: rgb(118, 75, 158);
    margin: 10px;
}

.todos__heading {
    text-align: center;
    font-size: 50px;
}
.arrow {
    position: absolute;
    right: 0;
}
.shown {
    display: flex;
}
.todo {
    display: flex;
    background-color: white;
    margin-top: 10px;
    transition: 0.5s;
    padding: 20px;
    justify-content: space-between;
    min-height: 45px;
}
.todo-expired {
    background-color: red;
}
.todo__textarea {
    width: 60%;
}
.todo__icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.todo__textarea--text {
    font-size: 20px;
    border: none;
    outline: none;
    font-family: inherit;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
    width: 100%;
}
.icon {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: inherit;
}
.dragactive {
    color: red;
}
.dragcompleted {
    color: red;
}
.clear-button {
    font-family: inherit;
    font-size: 51px;
    padding: 8px 20px;
    border: none;
    color: white;
    background-color: inherit;
    z-index: 2;
    background-color: rgb(85, 85, 85);
    transition: 0.5s;
    position: fixed;
    right: -120px;
    top: 100px;
    height: 67px;
    transform: rotate(-90deg);
}

.clear-button:hover {
    background-color: rgb(190, 6, 6);
    right: -74px;
}
.clear-button:active {
    transform: scale(0.8) rotate(-90deg);
}

.infobar {
    position: absolute;
    font-family: inherit;
    font-size: 20px;
    margin: 0 auto;
    color: white;
    z-index: 5;

}
.infobar:hover {
    animation: 1s stretch;
    color: red;
    transition: 1s;
}
.infobar--warning {
    animation: 1s infinite alternate blink;
}
.user {
    margin-top: 50px;
    font-family: inherit;
    position: absolute;
    font-size: 50px;
    background: black;
    z-index: 4;
    padding: 40px;
    font-family: inherit;
    position: absolute;
    font-size: 50px;
    background: black;
    z-index: 4;
    padding: 40px;
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    transition: 1s;
}
.user--shown {
    display: block;
    opacity: 1;
} 
.user__loading {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
    background-color: black;
    color: white;
    z-index: 20;
    animation: 1s stretch infinite;
}
.user__closeButton{
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    font-family: inherit;
    border: none;
    color: white;
    font-size: 40px;
    padding: 10px;
    transition: 1s;
}
.user__closeButton:hover{
    color: red;
    animation: 1s stretch;
}
.user__error {
    color:red;
    font-size: 15px;
    text-align: center;
}

.user__box {
    font-size: inherit;
    display: flex;
    flex-direction: column;
}
.user__input {
    margin: 20px auto;
    border: none;
    outline: none;
    padding: 8px 20px;
    border: none;
    font-size: inherit;
    transition: 0.5s;
    font-family:  inherit;
    border-radius: 0;
    z-index: 5;
}

.user__button {
    margin: 20px auto;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 20px;
    border: none;
    color: white;
    background-color: inherit;
    z-index: 2;
    background-color: red ;
    transition: 0.5s;
    height: 100%;
}
.user__button:hover {
    background-color: rgb(190, 6, 6);
}
.user__button:active {
    transform: scale(0.8);
}

@media (max-width:800px) {
    .input {
        font-size: 25px;
    }
    .todos__heading {
        font-size: 25px;
    }
    .todo__textarea--text {
        font-size: 15px;
    }
    .icon {
        font-size: 15px;
    }
    .container {
      flex-direction: column;
      align-items: center !important;
    }
    .todos {
      width: 100% !important;
      flex-basis: 0px !important;
    }
  }
@keyframes blink {
    from {
        color:white
    }
    to {
        color: red;
    }
}
@keyframes stretch {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1,1.3);
    }
    40% {
        transform: scale(1.3,1);
    }
    60% {
        transform: scale(1,1.1);
    }
    80% {
        transform: scale(1.1,1);
    }
    100% {
        transform: scale(1);
    }
}