.input {
    display: flex;
    width: 70%;
    position: relative;
    align-items: flex-start;
    font-family:  inherit;
    font-size: 50px;
    background-color: rgb(151, 96, 203);
}
.input__box {
    width: 100%;
    padding: 8px 20px;
    border: none;
    font-size: 51px;
    transition: 0.5s;
    resize: none;
    overflow: hidden;
    font-family:  inherit;
    border-radius: 0;
    z-index: 2;
}


.input__box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input__submit {
    font-family: inherit;
    font-size: 51px;
    padding: 8px 20px;
    border: none;
    color: white;
    background-color: inherit;
    z-index: 2;
    /* background-color: rgb(85, 85, 85); */
    background-color: red !important;
    transition: 0.5s;
    height: 100%;
}
.input__submit:hover {
    background-color: rgb(190, 6, 6);
}
.input__submit:active {
    transform: scale(0.8);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    justify-content: center;
    width: 70%;
}

.todos {
    position: relative;
    display: none;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 500px;
    width: 50%;
    padding: 10px;
    background-color: rgb(118, 75, 158);
    margin: 10px;
}

.todos__heading {
    text-align: center;
    font-size: 50px;
}
.arrow {
    position: absolute;
    right: 0;
}
.shown {
    display: flex;
}
.todo {
    display: flex;
    background-color: white;
    margin-top: 10px;
    transition: 0.5s;
    padding: 20px;
    justify-content: space-between;
    min-height: 45px;
}
.todo__textarea {
    width: 60%;
}
.todo__icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.todo__textarea--text {
    font-size: 20px;
    border: none;
    outline: none;
    font-family: inherit;
    word-wrap: break-word;
    resize: none;
    overflow: hidden;
    width: 100%;
}
.icon {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: inherit;
}
.dragactive {
    color: red;
}
.dragcompleted {
    color: red;
}
.clear-button {
    font-family: inherit;
    font-size: 51px;
    padding: 8px 20px;
    border: none;
    color: white;
    background-color: inherit;
    z-index: 2;
    background-color: rgb(85, 85, 85);
    transition: 0.5s;
    position: fixed;
    right: -120px;
    top: 100px;
    height: 67px;
    transform: rotate(-90deg);
}

.clear-button:hover {
    background-color: rgb(190, 6, 6);
    right: -74px;
}
.clear-button:active {
    transform: scale(0.8) rotate(-90deg);
}
