.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.days {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.day {
    background-color: #5c6784;
    margin: 5px;
    height: 50px;
    transition: 0.5s;
    box-sizing:border-box;
    border-radius: 5px;
    font-size: 15px;
}
.day:hover {
    background-color: #6878a1;
}
.today {
    box-shadow: 0px 0px 0px 5px #FFCF56;
}
.picked {
    animation: 2s blink infinite alternate;
}
.weekdayName {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.monthName {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 700;
}
.dateNumber {
    padding: 5px 5px;
    font-size: 15px;
}
.month {
    position: absolute;
    font-size: 30px;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg) translateX(40px);
}
.mark {
    color:red;
}
.showMoreButton {
    margin: 10px auto;
    padding: 0 20px;
    border: none;
    background-color: #037171;
    font-family: inherit;
    font-size: 20px;
    line-height: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
@keyframes blink {
    from {
    box-shadow: 0px 0px 0px 5px white;

    }
    to {
    box-shadow: 0px 0px 0px 5px red;

    }
}
@media (max-width:800px) {
    .monthName {
        font-size: 15px;
    }
    .weekdayName {
        font-size: 15px;
    }
}
@media (max-width:400px) {
    .dateNumber {
        font-size: 10px;
    }
}