.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nameInput {
    min-width: 80%;
    padding: 8px 20px;
    border: none;
    font-size: 40px;
    border-radius: 10px;
    /* transition: 0.5s; */
    resize: none;
    overflow: hidden;
    font-family:  inherit;
    border-radius: 0;
    z-index: 2;
    background: white;
    border-radius: 10px;
    margin: 10px 0;
}


.nameInput:focus {
    /* box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5); */
    outline: none;
}
.button {
    font-family: inherit;
    font-size: 40px;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: #ffcf56;
    transition: 0.5s;
    position:absolute;
    top: 0;
    right: 0;
}

@media (max-width:800px) {
    .nameInput {
        min-width: 75%;
        font-size: 25px;
        margin: 5px;
    }
}