.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.nameInput {
    /* min-width: 85%; */
    padding: 8px 20px;
    border: none;
    font-size: 30px;
    line-height: 40px;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    font-family:  inherit;
    border-radius: 0;
    z-index: 2;
    background: white;
    border-radius: 10px;
    margin: 10px 0;
}


.nameInput:focus {
    outline: none;
}


@media (max-width:800px) {
    .nameInput {
        /* min-width: 80%; */
        font-size: 20px;
        margin: 5px;
    }
}