.container {
    width: 70%;
    padding: 10px;
}
.deadlineContainer {
    display: flex;
    flex-direction: column;
}
.deadlineInfo {
    font-size: 40px;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    display: inline;
}